<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://www.123.com</string>
		<key>displayImageURL</key>
		<string>https://www.123.com</string>
		<key>fullSizeImageURL</key>
		<string>https://www.123.com</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.bshy.mahjong</key>
		<string>mj_development</string>
	</dict>
	<key>signingCertificate</key>
	<string>2A64065E120F8E6BBE2DCB080D5C0B4AD4141D07</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>ECJJEKLSES</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
